[submodule "amend-protocol-v0.1.1-with-prompt/lib/openzeppelin-contracts"]
	path = amend-protocol-v0.1.1-with-prompt/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "amend-protocol-v0.1.1-with-prompt/lib/forge-std"]
	path = amend-protocol-v0.1.1-with-prompt/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
